<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dut_type</key>
	<string>Sensor Board</string>
	<key>file_path</key>
	<string>TestLogFile</string>
	<key>fixture_id</key>
	<string>000001</string>
	<key>sw_name</key>
	<string>EW_BT_MIC_SPK</string>
	<key>sw_ver</key>
	<string>V02</string>
	<key>thdn</key>
	<integer>5</integer>
	<key>ui_title</key>
	<string>AE-1</string>
	<key>ui_versiom</key>
	<string>V1.0.3.1</string>
	<key>station</key>
	<string>2</string>
	<key>stationID</key>
	<string>FLDG_FQ3-5FAP-01_2_AE-1</string>
	<key>fixtureID</key>
	<string>01</string>
	<key>lineNO</key>
	<string>01/B443</string>
	<key>csv_path</key>
	<string>/vault/Test5</string>
	<key>txt_path</key>
	<string>/vault/testlog/</string>
	<key>Gap1UpperLimit</key>
	<string>0.25</string>
	<key>Gap1LowerLimit</key>
	<string>0</string>
	<key>Gap1Unit</key>
	<string>Gap</string>
	<key>Gap2UpperLimit</key>
	<string>0.25</string>
	<key>Gap2LowerLimit</key>
	<string>0</string>
	<key>Gap2Unit</key>
	<string>Gap</string>
	<key>Gap3UpperLimit</key>
	<string>0.25</string>
	<key>Gap3LowerLimit</key>
	<string>0</string>
	<key>Gap3Unit</key>
	<string>Gap</string>
	<key>Gap4UpperLimit</key>
	<string>0.25</string>
	<key>Gap4LowerLimit</key>
	<string>0</string>
	<key>Gap4Unit</key>
	<string>Gap</string>
	<key>OHMUpperLimit</key>
	<string>10</string>
	<key>OHMLowerLimit</key>
	<string>0</string>
	<key>OHMUnit</key>
	<string>OHM</string>
	<key>IP_MacWin</key>
	<string>169.254.123.100</string>
	<key>Port_MacWin</key>
	<string>5000</string>
</dict>
</plist>
