<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>dut_type</key>
	<string>Sensor Board</string>
	<key>file_path</key>
	<string>TestLogFile</string>
	<key>fixture_id</key>
	<string>000001</string>
	<key>fixture_uart_baud</key>
	<integer>115200</integer>
	<key>fixture_uart_port_name</key>
	<string>//dev//cu.usbserial-Fixture</string>
	<key>fixture_uart_dataBit</key>
	<string>8</string>
	<key>fixture_uart_parity</key>
	<string>none</string>
	<key>fixture_uart_stopBit</key>
	<string>1</string>
	<key>humiture_uart_baud</key>
	<string>9600</string>
	<key>humiture_uart_port_name</key>
	<string>//dev//cu.SLAB_USBtoUART</string>
	<key>humiture_uart_dataBit</key>
	<string>8</string>
	<key>humiture_uart_parity</key>
	<string>none</string>
	<key>humiture_uart_stopBit</key>
	<string>1</string>
	<key>in_rate</key>
	<integer>16000</integer>
	<key>sw_name</key>
	<string>EW_BT_MIC_SPK</string>
	<key>sw_ver</key>
	<string>V02</string>
	<key>thdn</key>
	<integer>5</integer>
	<key>ui_title</key>
	<string>Uploading SFC&amp;PDCA</string>
	<key>ui_versiom</key>
	<string>V1.0.0.0</string>
	<key>station</key>
	<string>1</string>
	<key>stationID</key>
	<string>123</string>
	<key>fixtureID</key>
	<string>11111111</string>
	<key>lineNO</key>
	<string>99999</string>
	<key>csv_path</key>
	<string>/vault/Test5</string>
	<key>txt_path</key>
	<string>/vault/testlog/</string>
</dict>
</plist>
