<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerFC</key>
	<dict>
		<key>Server_IP</key>
		<string>10.1.1.21</string>
		<key>C</key>
		<string>ADD_RECORD</string>
		<key>Station_Name</key>
		<string>AE-1</string>
		<key>Station_ID</key>
		<string>FLDG_FQ3-5FAP_FQ3-5FAP-01_2_AE-1</string>
		<key>Front_StationName</key>
		<string>ZR-MLB-ICT</string>
		<key>Next_StationName</key>
		<string>ZR-BT-COND</string>
		<key>Product</key>
		<string>B443</string>
	</dict>
</dict>
</plist>
